ul, li{
    margin: 0;
    padding: 0;
}
.todo{
    list-style-type: none;
}
.listitem{
    padding: 5px;
    border-top: 1px solid black;
    
}
#app{
    margin: auto;
    max-width: 350px;
    border: 1px solid black;
}
.deleteButton{
    float: right;
    border-radius: 50%;
    border: 1px solid red;
    color: red;
}
.checkBox{
    margin: 0 5px 0 5px;
}
.hiddenBox{
    border-top: 1px solid black;
    padding: 5px 5px 5px 28px;
    color:gray;
}
.hiddenBox span{
    text-decoration: line-through;
}
.text{
    margin: 5px;
    padding: 5px;   
}
.taskForm{
    width: 328px;
    margin: 10px 0px 0px 10px;
}